<h1>Longest Word Game</h1>
<p>Find the longest word</p>


<li><%= @array %></li>

<form action="/sport" method="get">
  <input type="text" name="Games#new" placeholder="Word ?">
  <input type="submit">
</form>
